*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    background-color: rgb(58, 182, 182);
    
}

.clock1{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

span{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.btn button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}