*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flex:wrap */
/* .parent{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap-reverse;
}

.demo{
    width: 100px;
    height: 100px;
    border: 1px solid red;
} */

/* display: grid */



.parent{
    border: 1px solid black;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    height: 54vh;
    /* grid-template-columns: 100px 100px 100px 100px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.demo1{
    border: 1px solid red;
    grid-column-start: 1;
    grid-column-end: 4 ;
    background-image: conic(red, blue, yellow);
}

.demo2{
    border: 1px solid cyan;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: radial-gradient(cyan, lightblue, pink, lightyellow);
}

.demo3{
    grid-column: 2/4;
    border: 1px solid red;
    background-color: lightcoral;
}

.demo4{
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
    border: 1px solid blue;
    background-color: pink;
}

.demo5{
    grid-column: 3 / 4;
    grid-row: 3 / 5 ;
    border: 1px solid blue;
    background-color: blueviolet;
}

.demo6{
    grid-column: 1 / 3;
    grid-row: 4 / 5 ;
    border: 1px solid blue;
    background-color: red;
}

.demo7{
    grid-column: 1 / 4;
    grid-row: 5 / 6 ;
    border: 1px solid blue;
    height: 50px;
    /* background-image: linear-gradient(blue, red, green ); */
    background: cyan;
}